In [19]:
import pandas as pd

df = pd.read_csv("../data/EURUSD_H4_202401020000_202506251600.csv", sep="\t")

In [20]:
df.head()

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2024.01.02,00:00:00,1.10424,1.10443,1.10341,1.10349,4438,0,2
1,2024.01.02,04:00:00,1.10350,1.10360,1.10165,1.10334,5889,0,2
2,2024.01.02,08:00:00,1.10336,1.10388,1.10106,1.10152,13826,0,2
3,2024.01.02,12:00:00,1.10151,1.10171,1.09494,1.09527,18275,0,2
4,2024.01.02,16:00:00,1.09527,1.09683,1.09408,1.09506,22154,0,2

In [21]:
df["datetime"] = pd.to_datetime(df["<DATE>"] + " " + df["<TIME>"])
df.drop(columns=["<DATE>", "<TIME>"], inplace=True)

cols = ["datetime"] + [col for col in df.columns if col != "datetime"]
df = df[cols]

In [22]:
df.head()

,datetime,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2024-01-02 00:00:00,1.10424,1.10443,1.10341,1.10349,4438,0,2
1,2024-01-02 04:00:00,1.10350,1.10360,1.10165,1.10334,5889,0,2
2,2024-01-02 08:00:00,1.10336,1.10388,1.10106,1.10152,13826,0,2
3,2024-01-02 12:00:00,1.10151,1.10171,1.09494,1.09527,18275,0,2
4,2024-01-02 16:00:00,1.09527,1.09683,1.09408,1.09506,22154,0,2

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2309 entries, 0 to 2308
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   2309 non-null   datetime64[ns]
 1   <OPEN>     2309 non-null   float64
 2   <HIGH>     2309 non-null   float64
 3   <LOW>      2309 non-null   float64
 4   <CLOSE>    2309 non-null   float64
 5   <TICKVOL>  2309 non-null   int64
 6   <VOL>      2309 non-null   int64
 7   <SPREAD>   2309 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 144.4 KB

In [24]:
df.describe()

,datetime,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
count,2309,2309.000000,2309.000000,2309.000000,2309.000000,2309.000000,2309.0,2309.000000
mean,2024-09-27 14:58:28.012126464,1.085201,1.086630,1.083859,1.085271,12358.690342,0.0,2.029017
min,2024-01-02 00:00:00,1.019320,1.021940,1.017750,1.019330,213.000000,0.0,2.000000
25%,2024-05-15 04:00:00,1.070660,1.071850,1.069470,1.070660,6727.000000,0.0,2.000000
50%,2024-09-26 08:00:00,1.084160,1.085350,1.083010,1.084170,10508.000000,0.0,2.000000
75%,2025-02-11 12:00:00,1.097790,1.099180,1.096450,1.097840,15625.000000,0.0,2.000000
max,2025-06-25 16:00:00,1.162510,1.164140,1.161090,1.162510,64168.000000,0.0,3.000000
std,NaN,0.029508,0.029656,0.029443,0.029558,7675.508440,0.0,0.167890

In [25]:
df.drop(columns=["<SPREAD>", "<VOL>"] , inplace=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2309 entries, 0 to 2308
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   2309 non-null   datetime64[ns]
 1   <OPEN>     2309 non-null   float64
 2   <HIGH>     2309 non-null   float64
 3   <LOW>      2309 non-null   float64
 4   <CLOSE>    2309 non-null   float64
 5   <TICKVOL>  2309 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 108.4 KB

In [27]:
df.head(20)

              datetime   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <TICKVOL>
0  2024-01-02 00:00:00  1.10424  1.10443  1.10341  1.10349       4438
1  2024-01-02 04:00:00  1.10350  1.10360  1.10165  1.10334       5889
2  2024-01-02 08:00:00  1.10336  1.10388  1.10106  1.10152      13826
3  2024-01-02 12:00:00  1.10151  1.10171  1.09494  1.09527      18275
4  2024-01-02 16:00:00  1.09527  1.09683  1.09408  1.09506      22154
5  2024-01-02 20:00:00  1.09505  1.09559  1.09383  1.09413       8609
6  2024-01-03 00:00:00  1.09423  1.09548  1.09381  1.09513       4275
7  2024-01-03 04:00:00  1.09513  1.09627  1.09486  1.09513       4959
8  2024-01-03 08:00:00  1.09512  1.09654  1.09347  1.09364      13729
9  2024-01-03 12:00:00  1.09362  1.09390  1.09100  1.09216      17309
10 2024-01-03 16:00:00  1.09217  1.09387  1.08980  1.09066      25836
11 2024-01-03 20:00:00  1.09065  1.09256  1.08929  1.09196      17269
12 2024-01-04 00:00:00  1.09163  1.09274  1.09140  1.09178       4820
13 2024-01-04 04:00:00  1.09178  1.09306  1.09158  1.09266       5978
14 2024-01-04 08:00:00  1.09265  1.09691  1.09208  1.09674      16898
15 2024-01-04 12:00:00  1.09674  1.09721  1.09328  1.09472      16600
16 2024-01-04 16:00:00  1.09471  1.09653  1.09381  1.09505      21768
17 2024-01-04 20:00:00  1.09504  1.09544  1.09430  1.09478       8021
18 2024-01-05 00:00:00  1.09442  1.09559  1.09420  1.09514       5888
19 2024-01-05 04:00:00  1.09515  1.09542  1.09340  1.09374       5708

In [28]:
df.to_csv("../data/EURUSD_H4_clean.csv", index=False)